body {
    margin-right: 0!important;
}
footer{
	height: 70px;
	padding-top: 20px;
	border-top: 1px solid @gray-lighter;
	margin-top: 50px;
}
.navbar-brand{
    
}
.navbar nav{
    font-size: 0.9em;
    font-weight: normal;
}
// Type:
h1, .h1 { font-size: floor(@font-size-base * 2.90); }
h2, .h2 { font-size: floor(@font-size-base * 2.45); }
h3, .h3 { font-size: ceil(@font-size-base * 1.70);  } 
h4, .h4 { font-size: ceil(@font-size-base * 1.25);  } 
h5, .h5 { font-size:  @font-size-base; 			   	}
h6, .h6 { font-size: ceil(@font-size-base * 0.85);  } 

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	color: @brand-primary;
}
hr, .img-circle{
    margin-top: 50px;
    margin-bottom: 50px;
}
.block{
	background-color: #fff;
    border-radius: 6px;
    border: 1px solid @table-border-color;
}
.header-image{
    background: url('../img/bg.png') repeat;
    width: 100%;
    height: 400px;
    border: 2px solid @table-border-color;
    text-align: center;
    margin-bottom: 70px;
    img{
        
    }
}
.marketing{
    text-align: center;
}