.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #fff;
    border-radius: 6px;
    padding: 60px;
    margin-top: 110px;
    border: 1px solid @table-border-color;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}



.navbar{
    
   // line-height: @navbar-height - 4;
    
    @btn-size: @navbar-height - @navbar-height/3.5;
    .btn{
        height:  @btn-size;
        line-height: @btn-size / 2 + 2;
        margin-top:   ((@navbar-height - @btn-size) / 2) - 1;
        margin-left: 6px;
        margin-right: 6px;

        .caret{
            border-top-color: #fff;
        }

        .glyphicon{
            vertical-align: 1px;
        }
    }

}


.headings{
    // width: 80%;
    // margin-left: 10%;
    // margin-right: 10%;
    font-weight: lighter;
    text-align: center;
    font-size: @font-size-large;
}