<div class="container" style="width: 400px;">
    <h1 style="color: white;">What's the hack?</h1>
    <p>
      We have use a "<a href="http://mobilizelabs.org/mobility-classification-system-0">Mobility Classification System</a>" from "MobilizeLabs" to keep track of the different states. We improved the reliability of the classification targeting only certain states.
    </p>
    <p>
      Check out the Code on our bitbucket account: <a href="https://bitbucket.org/msolanas/where-did-i-park">Repo</a>
    </p>
</div>