<div class="navbar-wrapper">  

        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Raedum</a> <small class="pull-left" style="margin-top: 19px;"><em>[latin: parking]</em></small>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
              
                <li><a href="#contact">Logout</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>Test 1</li>
                    <li>Test 2</li>
                    <li>Test 2</li>
                  </li>
                </li>
              </ul>
            </div>
          </div>
        </div>

    </div>

    <div style="height: 70px;"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
           <div class="well">
            <div ng-include="'views/form.html'"></div>

          </div>
          <hr>

          <h2>Orders:</h2>
          

            <div class="clearfix" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
              
                  <div class="pull-left" style=" width: 10%">Order id</div>
                  <div class="pull-left" style=" width: 70%">License plate</div>
                  <div class="pull-left" style="width: 10%; text-align: center;">Actions</div>
                  <div class="pull-left" style="width: 10%">Price</div>
                  
            </div>

            <hr style="margin-top: 5px;">

            <div ng-repeat="order in orders" class="navbar order" style="margin:0px; margin-bottom: -1px;">
              <div class="navbar-inner" style="border-radius: 0px;">
                <div style="padding-top: 8px;">
                  <div class="pull-left" style="font-weight: bold; width: 10%">{{order.id}}</div>
                  <div class="pull-left" style="width: 70%; min-height: 10px;">
                      {{order.license}}
                    </div>

                    <div class="pull-left" style="width: 10%; text-align: center;"></div>
                    <div class="pull-left" style="width: 10%;"><span class="badge">{{order.price}}$</span></div>
                    

                  </div>
              </div>
            </div>

        </div>
        <div class="col-md-4">
          <div class="well">
            
            
        </div>
        </div>
      </div>

 

  

</div>





    </div>