
<div class="container">
	<form class="form-horizontal" role="form" ng-submit="submit();">
		<h3>You information:</h3>
	  <div class="form-group">
	    <label for="username" class="col-lg-2 control-label">Username</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="username" ng-model="username" placeholder="Username">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="password" class="col-lg-2 control-label">Password</label>
	    <div class="col-lg-10">
	      <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
	    </div>
	  </div>
	  <h3>About the parking:</h3>
<!-- 	  <div class="form-group">
	    <label for="desciption" class="col-lg-2 control-label">Description</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="desciption" ng-model="desciption" placeholder="Description">
	    </div>
	  </div> -->
	  <div class="form-group">
	    <label for="nbspots" class="col-lg-2 control-label">Parking slots</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="nbspots" ng-model="nbspots" placeholder="Number of slots">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="price" class="col-lg-2 control-label">Price</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="price" ng-model="price" placeholder="Price">
	    </div>
	  </div>
	  <h3>Localization:</h3>
	   <div class="form-group">
	    <label for="longitude" class="col-lg-2 control-label">Longitude</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="longitude" ng-model="long" placeholder="Username">
	    </div>
	  </div>
	   <div class="form-group">
	    <label for="lattitude" class="col-lg-2 control-label">Lattitude</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="lattitude" ng-model="magn" placeholder="Username">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <button type="submit" class="btn btn-default">Create an account</button>
	    </div>
	  </div>
	</form>

</div>