<div class="navbar-wrapper">  

        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Raedum</a> <small class="pull-left" style="margin-top: 19px;"><em>[latin: parking]</em></small>
            </div>
            <div class="pull-right" style="margin-left: 20px;">
              <a href="#/create" class="btn btn-default" >
                <span class="glyphicon glyphicon-pencil"></span> Create account
              </a>
            </div>
           
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Businesses</a></li>
                <li><a href="#about">The app</a></li>
                <!-- <li><a href="#contact">Developers</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding: 30px 20px; width: 300px; color: black;">
                    <form class="form" role="form" ng-submit="login(businessid)">
                    <div class="form-group">
                      <label for="inputusername1" class="control-label">Username</label>
                      
                        <input type="text" class="form-control" id="inputusername1" placeholder="Username" ng-model="businessid">
                                           
                    </div>
                    <div class="form-group">
                      <label for="inputPassword1" class="control-label">Password</label>
                      
                        <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                      
                    </div>
                    <div class="form-group">
                      
                        <button type="submit" class="btn btn-default">Sign in</button>

                    </div>
                  </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

    </div>

    <div style="height: 50px;"></div>